.button {
  background: white;
  box-shadow: 24px 9px 33px -1px rgba(0,0,0,0.08);
  color: $color-primary;
  padding: 15px 90px;
  border-radius: 50px;
  font-size: 1.8em;
  text-decoration: none;
  text-transform: uppercase;
}
