@import '~variables';
@import '~buttons';
@import '~utils';

.project-header {
  background: url('../../assets/hero-bg.png') no-repeat, $bg-gradient;
  background-attachment: fixed;
  background-size: contain;
  background-position: top center;
  display: flex;
  justify-content: center;
  position: relative;
  height: 470px;
  width: 100%;
  top: -60px;
}

.header-img {
  position: absolute;
  bottom: -1px;
}

.study-icon {
  height: 70px;
}

.project-img {
  width: 100%;
}
